<%- model_class = IndexEntry -%>
<style>
a:link {
    color: #1975FF;
}
a:visited {
    color: #19A3FF;
}
a:active {
    color: #19A3FF;
}
</style>
<div class="page-header">
  <h3><%=t 'Pollen Image Index in Alphabetical Order' %></h3>
  <% if user_signed_in? %>
  <%= link_to t('.new_entry', :default => t("helpers.links.new_entry")),
            new_index_entry_path,
            :class => 'btn btn-default btn-xs' %>
  <% end %>
</div>
<font face="verdana" color="green"><%= 'You may click on the Latin name to view pollen images of that category.' %></font>
<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:latin_name).titleize %></th>
      <th><%= model_class.human_attribute_name(:family).titleize %></th>
      <th><%= model_class.human_attribute_name(:common_name).titleize %></th>
      <% if user_signed_in? %>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @index_entries.each do |index_entry| %>
      <tr>
        <td><%= link_to index_entry.latin_name.to_s, index_entry_path(index_entry) %></td>
        <td><%= t " " + index_entry.family.to_s %></td>
        <td><%= t " " + index_entry.common_name.to_s %></td>
        <% if user_signed_in? %>
          <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_index_entry_path(index_entry), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      index_entry_path(index_entry),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-default btn-xs' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
