<%= form_for @pollen_image, :html => { :class => "form-horizontal pollen_image", :multipart => true } do |f| %>

    <% if @pollen_image.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pollen_image.errors.count, "error") %> prohibited this pollen_image from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pollen_image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <%= f.file_field :image %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:title]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :latin_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :latin_name, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:latin_name]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :family, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :family, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:family]) %>
  </div>

  <div class="control-group">
    <%= f.label :common_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :common_name, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:common_name]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:location]) %>
  </div>

  <div class="control-group">
    <%= f.label :region, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :region, options_for_select(REGION_HASH), include_blank: true %>
    </div>
    <%= error_span(@pollen_image[:region]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :age, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:age]) %>
  </div>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn btn-default' %>

<% end %>
