<div class="container">
<%= form_for @pollen_image, :html => { :class => "form-horizontal pollen_image", :multipart => true } do |f| %>

    <% if @pollen_image.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pollen_image.errors.count, "error") %> prohibited this pollen_image from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pollen_image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <%= f.hidden_field :picture_cache %>
  <%= f.file_field :picture %>
  
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:title]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :latin_name, 'Scientific Name', :class => 'control-label'%>
    <div class="controls">
      <%= f.text_field :latin_name, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:latin_name]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :family, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :family, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:family]) %>
  </div>

  <div class="control-group">
    <%= f.label :common_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :common_name, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:common_name]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:location]) %>
  </div>

  <div class="control-group">
    <%= f.label :region, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:region, options_for_select(REGION_HASH, :selected => @pollen_image[:region]), {include_blank: true}) %>
    </div>
    <%= error_span(@pollen_image[:region]) %>
  </div>
  
  <div class="control-group">
    <%= f.label :age, "Age (cal BP)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :age, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:age]) %>
  </div>
  
    <div class="control-group">
    <%= f.label :depth, "Depth (meters)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :depth, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:depth]) %>
  </div>

  <div class="control-group">
    <%= f.label :notes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :notes, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:notes]) %>
  </div>
  
  <h3>Metadata</h3>
  
  <div class="control-group">
    <%= f.label :collection, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :collection, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:collection]) %>
  </div>

  <div class="control-group">
    <%= f.label :collection_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :collection_number, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:collection_number]) %>
  </div>

  <div class="control-group">
    <%= f.label :collector, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :collector, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:collector]) %>
  </div>

  <div class="control-group">
    <%= f.label :place_of_origin, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :place_of_origin, :class => 'form-control' %>
    </div>
    <%= error_span(@pollen_image[:place_of_origin]) %>
  </div>
  
  <br>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            :back, :class => 'btn btn-default' %>

<% end %>
</div>