<%- model_class = PollenImage -%>
<style>
a:link {
    color: #0000B2;
}
a:visited {
    color: #0000B2;
}
a:active {
    color: #0000B2;
}
a:hover {
    background-color: transparent;
}
</style>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
  <% if user_signed_in? %>
  <%= link_to t('.add_image', :default => t("helpers.links.add_image")),
            new_pollen_image_path,
            :class => 'btn btn-primary' %>
  <h5><%= 'Click on the attributes of the pollen images to directly edit the database.' %></h5>
  <% end %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t "Image" %></th>
      <th><%=t "Scientific Name" %></th>
      <th><%= model_class.human_attribute_name(:common_name).titleize %></th>
      <th><%= model_class.human_attribute_name(:family).titleize %></th>
      <% if user_signed_in? %>
        <th><%= model_class.human_attribute_name(:collection).titleize %></th>
        <th><%= model_class.human_attribute_name(:collection_number).titleize %></th>
        <th><%= model_class.human_attribute_name(:location).titleize%></th>
      <% end %>
      <th><%=t '.details', :default => t("helpers.details") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pollen_images.each do |pollen_image| %>
      <tr>
        <td><%= link_to image_tag(pollen_image.picture_url(:thumb)), pollen_image_path(pollen_image) %><% if user_signed_in? %></a><%= " " + pollen_image.title.to_s %><% end %></td>
        <td><i><%= best_in_place_if user_signed_in?, pollen_image, :latin_name %></i></td>
        <td><%= best_in_place_if user_signed_in?, pollen_image, :common_name %></td>
        <td><%= best_in_place_if user_signed_in?, pollen_image, :family %></td>
        <% if user_signed_in? %>
          <td><%= best_in_place_if user_signed_in?, pollen_image, :collection %></td>
          <td><%= best_in_place_if user_signed_in?, pollen_image, :collection_number %></td>
          <td><%= best_in_place_if user_signed_in?, pollen_image, :location %></td>
        <% end %>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      pollen_image_path(pollen_image), :class => 'btn btn-default btn-xs' %>
          <% if user_signed_in? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pollen_image_path(pollen_image), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pollen_image_path(pollen_image),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pollen_images %>
