<%- model_class = PollenImage -%>
<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
  <%= link_to t('.add_image', :default => t("helpers.links.add_image")),
            new_pollen_image_path,
            :class => 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title).titleize %></th>
      <th><%= model_class.human_attribute_name(:latin_name).titleize %></th>
      <th><%= model_class.human_attribute_name(:family).titleize %></th>
      <th><%= model_class.human_attribute_name(:common_name).titleize %></th>
      <th><%= model_class.human_attribute_name(:location).titleize %></th>
      <th><%= model_class.human_attribute_name(:region).titleize %></th>
      <th><%= model_class.human_attribute_name(:age).titleize %></th>
      <th><%=t '.details', :default => t("helpers.details") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pollen_images.each do |pollen_image| %>
      <tr>
        <td><%= image_tag pollen_image.image(:thumb) %><%= t " " + pollen_image.title.to_s %></td>
        <td><%= t " " + pollen_image.latin_name.to_s %></td>
        <td><%= t " " + pollen_image.family.to_s %></td>
        <td><%= t " " + pollen_image.common_name.to_s %></td>
        <td><%= t " " + pollen_image.location.to_s %></td>
        <td><%= t " " + pollen_image.region.to_s %></td>
        <td><%= t " " + pollen_image.age.to_s %></td>
        <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
                      pollen_image_path(pollen_image), :class => 'btn btn-default btn-xs' %>
          <% if user_signed_in? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pollen_image_path(pollen_image), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pollen_image_path(pollen_image),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-default' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pollen_images %>
