<%- model_class = PollenImage -%>
<div class="page-header">
  <h1><%=t '.title', :default => @pollen_image.title %>
  <% if session[:ids] %>
    <br>
    <%= link_to t('.previous', :default => t("helpers.links.previous")),
              pollen_image_path(session[:prev]), :class => 'btn btn-default'  %>
    <%= link_to t('.next', :default => t("helpers.links.next")),
              pollen_image_path(session[:next]), :class => 'btn btn-default'  %>
  <% end %>
  </h1>
  <%= image_tag @pollen_image.image(:medium) %>
</div>

<h5 class="dl-horizontal">
  <h5><strong><%= model_class.human_attribute_name(:title) %>:</strong><%= " " + @pollen_image.title.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:latin_name) %>:</strong><%= " " + @pollen_image.latin_name.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:family) %>:</strong><%= " " + @pollen_image.family.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:common_name) %>:</strong><%= " " + @pollen_image.common_name.to_s %></h5>
</h5>
<%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pollen_image_path(@pollen_image), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pollen_image_path(@pollen_image),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-default' %>
<%= link_to t('.full_size', :default => t("helpers.links.full_size")),
              "#{URI.join(@pollen_image.image.url)}", :class => 'btn btn-default' %>