<%- model_class = PollenImage -%>
<div class="page-header">
  <h1><%=t '.title', :default => @pollen_image.latin_name %>
  <% if session[:position] and session[:ids] and session[:ids].length > 1 %>
    <br>
    <%= link_to t('.previous', :default => t("helpers.links.previous")),
              pollen_image_path(session[:prev]), :class => 'btn btn-default'  %>
    <%= link_to t('.next', :default => t("helpers.links.next")),
              pollen_image_path(session[:next]), :class => 'btn btn-default'  %>
  <% end %>
  </h1>
  <%= image_tag @pollen_image.image(:medium) %>
</div>

<h5 class="dl-horizontal">
  <h5><strong><%= model_class.human_attribute_name(:title).titleize %>:</strong><%= " " + @pollen_image.title.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:latin_name).titleize %>:</strong><i><%= " " + @pollen_image.latin_name.to_s %></i></h5>
  <h5><strong><%= model_class.human_attribute_name(:family).titleize %>:</strong><%= " " + @pollen_image.family.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:common_name).titleize %>:</strong><%= " " + @pollen_image.common_name.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:location).titleize %>:</strong><%= " " + @pollen_image.location.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:region).titleize %>:</strong><%= " " + @pollen_image.region.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:age).titleize + " (cal BP)"%>:</strong><%= " " + @pollen_image.age.to_s %></h5>
  <h5><strong><%= model_class.human_attribute_name(:notes).titleize %>:</strong><%= " " + @pollen_image.notes.to_s %></h5>
  
</h5>
<%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn btn-default'  %>
<% if user_signed_in? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_pollen_image_path(@pollen_image), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                pollen_image_path(@pollen_image),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-default' %>
<% end %>
<%= link_to t('.full_size', :default => t("helpers.links.full_size")),
              "#{URI.join(@pollen_image.image.url)}", :class => 'btn btn-default' %>