<div class="container">
<%= link_to "Back to Image Database", pollen_images_path %>
<h2>Geographic Search</h2> 
<br>
<!-- Each text_field_tag is sent to params[] on submition-->
<!-- This can be seen in the URL after a search. Check pollen_images_controller.erb for sorting logic. -->
<%= form_tag pollen_images_path, method: :get do %>
  
  <div class="control-group">
    <%= label_tag(:region, "Region:") %>
    <div class="controls">
      <%= select_tag :region, options_for_select(REGION_HASH, params[:region]), include_blank: true %>
    </div>
  </div>
  <br>

  <div class="control-group">  
    <%= label_tag(:age, "Time Period:") %>
    <div class="controls">
      <%= select_tag :age, options_for_select(AGE_HASH, params[:age]), include_blank: true %>
    </div>
  </div>
  <br>
  
    <div class="control-group">
    <%= label_tag(:location, "Location:") %>
    <div class="controls">
      <%= text_field_tag :location, params[:location] %>
    </div>
  </div>

  <br>
  <%= submit_tag "Search" %>

<% end %>
</div>