<!DOCTYPE html>
<html>
<head>
  <title>Image Manager</title>
  <!-- Controls the links on the navigation bar on the top ov everypage -->
  <%= nav_bar static: :top, brand: "Home", :brand_link => welcome_homepage_path do %>
    <%= menu_group do %>
        <%= menu_item "Image Database", pollen_images_path %>
        <%= menu_item "Index", index_entries_path %>
        <%= menu_item "Taxonomic Search", search_simple_path %>
        <%= menu_item "Geographic Search", search_advanced_path %>
        <%= menu_item "Log In", user_session_path %>
        <%= menu_item "Log Out", destroy_user_session_path %>
    <% end %>
  <% end %>
  <mark>
  <!-- Displays alerts and notices below navigation bar -->
  <%= flash[:notice] %>
  <%= flash[:alert] %>
  </mark>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
